<div class="meal-selector row row-centered">
  <%- box_variants.each do |variant| %>
    <div class="col-xs-12 col-md-4 col-centered text-center meal">
      <label class="meal-selection">
        <input class="hidden" type="checkbox" name="box_preference_attributes[preference][]" value="<%= variant.id %>">
        <div class="image">
          <%= image_tag variant.display_image.attachment.url(:large) %>
        </div>
        <h4><%= variant.name %></h4>
      </label>
    </div>
  <% end %>
</div>