<!DOCTYPE html>
<html>
<head>
  <title>SolidusSubscriptionBoxes</title>
  <%= stylesheet_link_tag    "solidus_subscription_boxes/application", media: "all" %>
  <%= javascript_include_tag "solidus_subscription_boxes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
