.meal img {
  width: 100%;
}
.row-centered {
  text-align: center;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
.flash.notice {
  background-color: green;
}
.flash.success {
  background-color: green;
}
.meal-selector .meal-selection,  {
  .image {
    border: 3px transparent solid;
    cursor: pointer;
    &:hover {
      border: 3px $gray-500 solid;
    }
  }
  input:checked + .image {
    border: 3px $btn-box-shadow-color solid;
  }
}