.meal img {
  width: 100%;
}
.row-centered {
  text-align: center;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
.flash.notice {
  background-color: green;
}
.flash.success {
  background-color: green;
}
.meal-selector input{
  width: 100px;
}
.box-controls i {
  cursor: pointer;
}

